// Specific CSS for your home-page

body {
  padding-top: 45px;
  opacity: 0.9;
}

.header-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  object-fit: cover;
  overflow: hidden;
}
.home-header {
  width: 50%;
  height: 95vh;
  padding-top: 190px;
  padding-left: 140px;
  color: black;
  text-shadow: none;
  left: 170px;
  text-align: left;
}

.head-img-container {
  width: 50%;
  height: 95vh;
}

.head-img {
  flex-basis: 50%;
  height: 95vh;
  width: auto;
  text-align: center;
}


.home-header-text {
  padding-bottom: 30px;
  font-size: 3.2rem;
}

.home-header p {
  margin-bottom: 0;
}

.btn-banner {
  margin-right: 20px;
  margin-top: 30px;
}

.how-it-works-title {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;


}

.how-it-works-title h1 {
  font-size: 2rem;
}

.how-it-works-container-outer {
  margin-top: 50px;
  background-color: rgba(95, 163, 81, 0.02);
  box-shadow: 0 -0.085rem rgba(0,0,0,0.02);
  border-radius: 3px;
}

.how-it-works-content-wrap {
  margin-top: 30px;
  display:flex;
  flex-direction: row;
    background-color: hsl(0, 3%, 94%)

}

.hiw-img-container {
  width: 50%;
  display:flex;
  justify-content: flex-end;
  // object-fit: cover;
  // overflow: hidden;
}

.hiw-img {
  height: 43.6875rem;
  width: auto;
  right: 0px;
  padding-right: 30px;
}

.hiw-text-container {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%
}

.hiw-content {
  padding-left: 30px;
  text-align: center;
}


.hiw-titles {
  padding-bottom: 20px;

}


