// Specific CSS for your home-page

body {
  padding-top: 45px;
  opacity: 0.9;
}

.header-container {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  object-fit: cover;
  overflow: hidden;
}
.home-header {
  width: 50%;
  height: 80vh;
  padding-top: 190px;
  padding-left: 140px;
  color: black;
  text-shadow: none;
  left: 170px;
  text-align: left;
}

.head-img-container {
  width: 50%;
  height: 80vh;
}

.head-img {
  flex-basis: 50%;
  height: 47.6875rem;
  width: auto;
  color: white;
  text-align: center;
}


.home-header h1 {
  padding-bottom: 30px;
  font-size: 3.2rem;
}

.home-header p {
  margin-bottom: 0;
}

.btn-banner {
  margin-right: 20px;
  margin-top: 30px;
}

.how-it-works-outer {
  text-align: center
}

.how-it-works-title {
  margin: 0 auto;
  text-align: center;
  width: 1130px;
}

.how-it-works h2 {
 padding-top: 30px;
}

.home-cards {
  margin: 30px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
}

.home-card {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-image {
  width: 100%;
  max-height: 210px;
  margin-top: 30px;
  margin-bottom: 30px;
}
