// Import page-specific CSS files here.
@import "home";
@import "my_jungle";
@import "user_show";
@import "plants";
@import "user-index";
@import "ebook";
@import "plans_index";

a:hover {
  text-decoration: none;
  color: inherit;
}
