.banner-my-jungle {
  width: 100%;
  // background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("banner2.jpg");
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
  text-align: center;
  padding-top: 70px;
  box-shadow: 0 0.125rem 0.6rem 0 rgba(0,0,0,0.2);
}


.jungle-header {
  margin: 0;
  padding: 30px;
}

.jungle-content {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.left-container{

  width: 80%;
}

.jungle-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 0px;
  margin-right: 0px;
}


.water-header {
  margin-left: 23px;
}

.right-container {
  width: 20%;
}

.chris-card {
  overflow: hidden;
  background: white;
  // box-shadow: 0 0 7px rgba(0,0,0,0.2);
  min-width: 260px;
  border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  display:flex;
  padding: 15px 15px 0px 15px;
  margin-top: -3px;
  margin-bottom: 15px;
    background-color: hsl(108, 2%, 98%);

}

.uppercard {
  display: flex;
  justify-content: space-between;
}

.seed-status-text {
  margin-left: 20px;
  text-decoration: none;
}

.badge-jungle{
  margin-left: 0px !important;
  font-size: 8px !important;
  position: relative !important;
  height: 19px !important;
  padding: 5px 6px;
}

a {
  color: black;
}

.seed-status-text > p {
  margin-bottom: 0px;
}

.this-week-outer {
  padding: 15px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: hsl(108, 2%, 98%);
  min-width: 260px;
}

.this-week-container {

}


.week-border {
  border-bottom: solid 1px;
  border-color: #CFCECC;
}

.week-border:last-child {
  border-bottom: solid 0px;
  border-color: #CFCECC;
}


