<footer class="plantis-footer">
  <div class="footer-txt">
    <p>Webapp developped by Plantis Team 🌱 @leWagon ©2019</p>
    <ul>
      <li><i class="fab fa-github"></i></li>
      <li><i class="fab fa-facebook"></i></li>
      <li><i class="fab fa-twitter"></i></li>
    </ul>
  </div>
  <div class="push"></div>
</footer>
