<footer class="plantis-footer">
  <div class="footer-txt">
    <p>Webapp developped by Plantis Team 🌱 @leWagon ©2019</p>
    <ul>
      <li><a href="https://github.com/Alan1010010/"><i class="fab fa-github"></i></a></li>
      <li><a href="https://www.linkedin.com/in/alan-c-quinn/"><i class="fab fa-linkedin"></i></a></li>
    </ul>
  </div>
  <div class="push"></div>
</footer>
