
<div class="reward-card">
  <div class="reward-img" width="260" height="260">
    <%= image_tag "reward.jpg" %>
      <!-- <div class="locked-reward">
        <a href="#" class="icon" title="Locked reward">
          <i class="fas fa-lock"></i>
        </a>
      </div> -->
  </div>
  <div class="card-trip-infos">
    <div>
      <h2> Badge</h2>
      <p> Reward description</p>
    </div>
  </div>
</div>

