<div class="banner-my-jungle" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(<%= image_path "banner-5.jpg" %>)">
  <div class="jungle-header">
    <h1>e-book</h1>
  </div>
</div>

<div class="ebook-container">

  <p>Paddle test - don't buy the e-book. It does not exist</p>

  <a href="#!" class="paddle_button btn btn-primary btn-buy" data-product="571742">Buy Now!</a>

</div>
