<div class="banner-my-jungle" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(<%= image_path "banner-5.jpg" %>)">
  <div class="jungle-header">
    <h1>e-book</h1>
  </div>
</div>

<div class="ebook-container">

  <p>Paddle test - don't buy the e-book. It does not exist</p>
  <div class="card-ebook">
    <%= image_tag "hp-03.jpg", alt: "ebook plant" %>
    <div class="card-ebook-infos">
      <h2>Plant Killer Recovery Guide</h2>
      <p> an ebook</p>
      <a href="#!" class="paddle_button btn btn-sec btn-buy" data-product="571742" data-theme="none">Buy Now</a>
    </div>
  </div>


</div>
