.btn {
  border-radius: 500px;
}

.btn-primary {
  color: white;
  text-shadow: none;
}

.btn-sec {
  background-color: transparent !important;
  color: hsl(0, 0%, 27%) !important;
  border-color: hsl(0, 0%, 27%) !important;
}

.btn-sec:hover {
  background-color: hsl(0, 0%, 90%) !important;
}
