.btn {
  border-radius: 500px;
}

.btn-primary {
  color: white;
  text-shadow: none;
}

.btn-sec {
  background-color: transparent !important;
  color: $primary !important;
  border-color: $primary;
}
