// footer {
//   position: absolute;
//     left: 0 ; right: 0; bottom: 0;
//     height: 120px;
//   }

.plantis-footer {
  height: 120px;
  width: 100%;
  background-color: rgb(230,230,230);
}

footer ul {
  list-style: none;
}

footer li {
  display: inline-block;
}

footer i {
  font-size: 40px;
  color: rgb(180,180,180);
  // color: #ECECEC;
  padding-right: 20px;
  padding-right: 20px;
}

footer i:hover{
  color: rgb(140,140,140);
  transition: 0.3s;
}

.footer-txt {
  color: rgb(180,180,180);
  // color: #ECECEC;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
