.modal {
  // top: 90px;

  max-height: 100%;
  overflow-y: auto;
}

.modal-content {
  border-radius: 15px !important;
  overflow: hidden;
}

.modal-header {
      display: flex;
      justify-content: flex-start;   /* adjustment */
      position: relative;            /* new */

h4 {
      flex: 0 1 auto;
      position: absolute;             /* new */
      left: 50%;
      transform: translateX(-50%);
      font-weight: bold;
  }
}

.modal-photo > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: none !important;
}

.modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal-body > h5 {
  padding: 10px;
}

.modal-upl-delete {
  display: flex;
  justify-content: center;
}

.plant-died {
  padding: 2px 7px;
  font-size: 10px;
  margin: 0px 8px 0px 0px;
}
.water-anyway {
  display: flex;
  flex-direction: column;
}







