
.navbar{
  width: 100%;
  height: 70px;
  z-index: 9999;
  padding: 4px 8px;
  // background-color: #ECECEC;
  background-color: #F4F4F4;
  box-shadow: 0 0.125rem 0.625rem 0 rgba(0,0,0,0.05);
}

.navbar-2 {
  background-color: transparent;
  margin: 0px;
  position: absolute;
  box-shadow: none !important;
}
.navbar-lewagon {
  justify-content: space-between;
  padding: 0 110px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 20px;
}

.logo-txt {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  margin-left: 10px;
  color: black;
  // color: $primary_color;
}

.logo-txt-2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  margin-left: 10px;
  // color: #B5DDA4;
  color: white;
}

#logo {
  height: 2.2rem;
  width: auto;
}


#nav-left-side {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.navbar-brand {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#hover-pointer {
  cursor: pointer;
}

.navbar-dark .navbar-nav .nav-link {
  color: #7F9B73;
}

.nav-item {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  margin-right: 10px;
}
