.card-plant {
  overflow: hidden;
  background: white;
  // box-shadow: 0 0 7px rgba(0,0,0,0.2);
  min-width: 260px;
  max-width: 260px;
  margin: 23px;
  border-radius: 3px;
  border: solid 1px;
  border-color: #CFCECC;
}

.card-plant > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-plant h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-plant p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-plant .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.water-logo {
  position: absolute;
  right: 13px;
  bottom: 261px;
  width: 64px;
}

.card-link {
  color: $primary_text;
}

