.card-user {
 overflow: hidden;
 min-width: 210px;
 max-width: 240px;
 height: 240px;
 background: white;
  box-shadow: 0.05rem 0.05rem 0.5rem 0.05rem rgba(0, 0, 0, 0.05);
 margin: 5px;
}

.card-user:hover {
  background-color: hsl(110, 1%, 99%);
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:20px;
}
.card-lower-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 15px;
}

.card-user h2 {
 font-size: 16px;
 font-weight: bold;
}

.card-user-badge {
  padding: 7px;
  font-size: 10px;
}

.card-user-follow .btn {
  font-size: .75rem;
}

.card-user-seeds {
  font-size: 11px;
  margin-top: 10px;
}

#logo-card {
  margin: 5px;
  font-size: 11px;
  color: $primary-color;
}


