.card-plant {
  overflow: hidden;
  background: white;
  min-width: 210px;
  max-width: 210px;
  margin: 0px 13px 26px 13px;
  box-shadow: 0.05rem 0.05rem 0.1rem 0.05rem rgba(0, 0, 0, 0.05);
  background-color: #F4F4F4;

}

.card-plant > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-plant h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-plant p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-plant .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.water-logo {
    position: absolute;
    right: 15px;
    bottom: 6px;
}

.card-link {
  color: $primary_text;
}

