.card-user {
 overflow: hidden;
 width: 240px;
 height: 240px;
 background: white;
  box-shadow: 0.05rem 0.05rem 0.1rem 0.05rem rgba(0, 0, 0, 0.05);
 margin: 5px;
}
.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:15px;
}
.card-lower-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.card-user h2 {
 font-size: 16px;
 font-weight: bold;
}

.card-user-badge {
  padding: 7px;
  font-size: 10px;
}

.card-user-follow .btn {
  font-size: .75rem;
}


